body{
    display: flex;/*colocar a caixa dea acordo com o flex direction, por enquanto é uma caixa vazia*/
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.principal{
    display: flex;/*colocar a caixa dea acordo com o flex direction, por enquanto é uma caixa vazia*/
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    width: 80vw;
    height: 60vw;
    margin: 205px;
}
.histmsg{
    background-color: #C4C4C4;
    width: 100%;
    height: 7%;
    border-bottom: 1px;
    border: 1px solid black; 
    display: flex;
    align-items:center;
    
}/*pegando o h1 dentro de hist msg*/
.histmsg h1{
    margin-left: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}
.msg{
    display: flex;
    flex-direction: row;
    width: 80%;
    background-color: #C4C4C4;
    border: 1px solid black; 

}
.msg textarea{
    width: 80%;
    margin: 10px;
    
}
.msg button{
    width: 10%;
    height: 15%;
    margin: 10px;
    background: #0066CC;
border-radius: 10px;
border: 0px;
    
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;

color: #FFFFFF;

}
.divmsg h1{

background: #FAFAFA;
border: 1px solid #000000;
text-align: center;
width: 50vw;


}